*{
	font-family: sans-serif;
}
body{
	overflow-y: hidden;
}

.input{
	position: relative;
}

.input i{
	position: absolute;
	top: 10%;
	left: 5%;
	font-size: 20px;
}

.input input{
	padding-left: 50px;
	border-radius: 20px;
}
 
.sty form{
    position: absolute;
    top: 170px;
    left: 35%;
    width: 25rem!important;
    background: rgba(225,225,225,.5);
    box-shadow: 0px 16px 30px rgba(0,0,0, .1);
    border-radius: 30px!important; 
}