.set-profile{ 
	margin-top: 80px!important;
	margin-left: 5%;
	box-shadow: 0px 6px 30px rgba(0,0,0, .1);
}

.set-profile img{  
	margin-top: -60px;
	height: 150px;
	border-radius: 50%;
	box-shadow: 0px 6px 30px rgba(0,0,0, .1);
}

.active{
	width: 10px;
	height: 10px;
	display: inline-block;
	margin-right: 10px;
	border-radius: 50%;
	background: #28A745;
}

.put-sec input{
	outline: none;
	height: 30px;
	width: 100%;
	padding-left: 10px; 
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #28A745;
	transition: border .2s ease
}

.put-sec input:focus{
	border-bottom: 2px solid #19B3D3;

}

.put-sec input[class='school']:focus > .test{
	font-size: 30px;
}

.mst .row p{
	text-align: left!important;
}